<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to "/", class: "navbar-brand " do %>
      <%= image_tag "https://www.ourpcb.com/wp-content/uploads/2020/09/0-4.jpg", width: 100, height: 40 %>
      <%="BuyTech" %>

    <% end %>

    <%= form_with(url: products_path, method: :get, class: "d-flex ") do |form| %>
  <div class="input-group ", style= "width: 450px">
    <%= form.text_field :query,
        value: params[:query],
        class: "form-control",
        placeholder: "Type a keyword" %>
    <div class="input-group-append ">
      <%= form.button :submit, class: "btn bg-blue2 my-2 my-sm-0 button-bold" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  </div>
<% end %>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center gap-2">
        <% if user_signed_in? %>
          <li class="nav-item active ">
            <%= link_to "Home", "/", class: "nav-link text-bold" %>
          </li>
          <li class="nav-item btn bg-yellow1 btn-sell" , style= "padding: 1px">
            <%= link_to "Sell", new_product_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
           <% if current_user.photo.key? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "user.png", class: "avatar dropdown-toggle py-1", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My products", my_products_products_path, class: "dropdown-item" %>
               <%= link_to "My Orders", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
