<h1 class="padding">Products</h1>
    <div class="card-grid w-100">
  <% @products.each do |product| %>
      <div class="card m-2">

        <div class="card-header">
        <% if product.photo.present? %>
          <%= cl_image_tag product.photo.key %>
        <% else %>
            <%= image_tag("placeholder.png") %>
        <% end %>
        </div>
        <div class="card-body">
        <h2> <%= link_to product.name, product_path(product), class: "card-title" %> <br><span class="fs-6 text-muted text-decoration-none lh-3"><%= product.units %> available</span></h2>
        <p> <%= product.description %> </p>
        <h5 class="align-self-end"> R$ <%= product.price %> </h5>
        </div>
        <div class="card-footer">
        <%= link_to product_orders_path(product), data:{turbo_method: :post} do %>
          <i class="fa-solid fa-cart-shopping"></i>
        <% end %>
        </div>
      </div>
  <% end %>
</div>
